{%extends 'base.html'%}
{%load static%}

{%block style_css%}
<link rel="stylesheet" href="{%static 'css/add.css'%}" >

{%endblock%}

{%block content%}
<section class="flex justify-center items-center content-center">
    <div class="container pt-20">
        <div class="form_area">
            <p class="title">Agregar Docente</p>
            <form action="" method="POST">
                {% csrf_token %}
                <div class="form_group">
                    <label class="sub_title" for="name">Nombre Completo</label>
                    {{form.name}}
                </div>
                <div class="form_group">
                    <label class="sub_title" for="rut">Rut</label>
                    {{form.rut}}
                </div>
                <div class="form_group">
                    <label class="sub_title" for="asignatura">Asignatura/s</label>
                    {{form.asignatura}}
                </div>

                <div>
                    <button type="submit" class="btn">Aceptar</button>
                    
            </div>
    </form></div><a class="link" href="">
    </a></div>
</section>



{%endblock%}