{%extends 'base.html'%}
{%load static%}

{%block style_css%}
<link rel="stylesheet" href="{%static 'css/add.css'%}" >

{%endblock%}

{%block content%}
<section class="flex justify-center items-center content-center">
    <div class="container pt-20">
        <div class="form_area">
            <p class="title">Agregar Docente</p>
            <form action="">
                <div class="form_group">
                    <label class="sub_title" for="name">Nombre Completo</label>
                    <input placeholder="Ingrese el nombre" id="name" class="form_style" type="text">
                </div>
                <div class="form_group">
                    <label class="sub_title" for="rut">Rut</label>
                    <input placeholder="Ingrese el rut con (-)" id="rut" class="form_style" type="text">
                </div>
                <div class="form_group">
                    <label class="sub_title" for="position">Cargo correspondiente</label>
                    <input placeholder="Ingrese el cargo" id="position" class="form_style" type="text">
                </div>
                <div>
                    <button class="btn">Aceptar</button>
                    
            </div>
    </form></div><a class="link" href="">
    </a></div>
</section>



{%endblock%}