{%extends 'base.html'%}
{%load static%}

{%block style_css%}
<link rel="stylesheet" href="{%static 'css/add-btn.css'%}" >
<link rel="stylesheet" href="{%static 'css/edit-btn.css'%}" >

{%endblock%}

{%block content%}

<section class="py-20 lg:px-32">
    <div  class="grid grid-cols-[30%_70%] gap-3 ">
        <div class="flex flex-col justify-center">
            <div class="max-w-[200px] max-h-[200px] py-5">
                <img src="{%static 'image/Imagen de WhatsApp 2023-11-28 a las 13.57.15_78b74ee6.jpg' %}" alt="">
            </div>

            <div>
                <h1 class="text-6xl font-semibold">Docware</h1>
            </div>
        </div>

        <div>
            <div >
                <div>
                    <h1 class="text-5xl font-semibold py-5 w-full flex justify-center ">Informacion de los Docentes</h1>

                </div>
                
                

                    <div class="relative overflow-x-auto lg:max-w-[900px]">
                        <form id="asignaturaForm">
                            <select id="asignatura" name="asignatura" class="px-4 text-center  w-full text-white bg-gray-700 ">
                                {% for asignatura in asignaturas %}
                                    <option value="{{ asignatura.id }}">{{ asignatura.name }}</option>
                                {% endfor %}
                            </select>
                        </form>
                        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                                <tr>
                                    <th scope="col" class="px-6 py-3">
                                        Rut
                                    </th>
                                    <th scope="col" class="px-6 py-3">
                                        Nombre
                                    </th>
                                    <th scope="col" class="px-6 py-3">
                                        Asignatura/s
                                    </th>
                                    <th scope="col" class="px-6 py-3">
                                        Presente
                                    </th>
                                    <th scope="col" class="px-6 py-3">
                                        Ausente
                                    </th>
                                    <th scope="col" class="px-6 py-3"></th>
                                </tr>
                            </thead>
                            <tbody id="profesoresContainer">
                                {% for teacher in teachers %}
            <tr data-asignatura-ids="{% for asignatura in teacher.asignatura.all %}{{ asignatura.id }}{% if not forloop.last %},{% endif %}{% endfor %}" class="profesor bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{ teacher.rut }}
                </td>
                <td class="px-6 py-4">
                    {{ teacher.name }}
                </td>
                <td class="px-6 py-4">
                    {% for asignatura in teacher.asignatura.all %}
                        {{ asignatura.name }}
                        {% if not forloop.last %}, {% endif %}
                    {% endfor %}  
                </td>
                <td class="px-6 py-4">
                    {{ teacher.dias_presente }}
                </td>
                <td class="px-6 py-4">
                    {{ teacher.dias_ausente }}
                </td>
                <td>
                    <input type="checkbox" class="profesorCheckbox" data-profesor-id="{{ teacher.id }}">
                </td>
            </tr>
        {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <div class="pt-10 flex justify-between content-center items-center lg:max-w-[900px]">
                            <a href="{%url 'add' %}">
                                <button type="button" class="button">
                                    <span class="text-left">Agregar Docente</span>
                                    <span class="button__icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" viewBox="0 0 24 24" stroke-width="2" stroke-linejoin="round" stroke-linecap="round" stroke="currentColor" height="24" fill="none" class="svg"><line y2="19" y1="5" x2="12" x1="12"></line><line y2="12" y1="12" x2="19" x1="5"></line></svg></span>
                                </button>
                            </a>
                            
                            
                            
                            <form id="profesorForm" method="POST" action="{% url 'info' 1 %}">
                                {%csrf_token%}
                                <input type="hidden" id="profesorId" name="profesorId" value="">
                                <button  class="button" type="submit" id="verDetalles" disabled>
                                    Ver Detalles
                                    <svg fill="currentColor" viewBox="0 0 24 24" class="icon">
                                      <path clip-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zm4.28 10.28a.75.75 0 000-1.06l-3-3a.75.75 0 10-1.06 1.06l1.72 1.72H8.25a.75.75 0 000 1.5h5.69l-1.72 1.72a.75.75 0 101.06 1.06l3-3z" fill-rule="evenodd"></path>
                                    </svg>
                                </button>
                            </form>
                    </div>

            </div>
        </div>
    </div>
</section>




{%endblock%}

{%block javascript_js%}
<script src="{%static 'js/select.js' %}"></script>

{%endblock%}
