{%load static%}
{% load static tailwind_tags %}
{%load humanize %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%block style_css%} {%endblock%}
    <title>{%block title%} {% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.0/flowbite.min.css" rel="stylesheet" />


  

       <!-- {% tailwind_css %} -->
</head>

<body class="bg-slate-600">
  
    
  

  {%block content %} 
    
 

  {% endblock %}







<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.0/flowbite.min.js"></script>

</body>
</html>